{% extends 'crewdatabd/main.html' %}
{% load static %}

{% block content %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static '/images/profile.jpg' %}" alt="staff-picture"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{labor.labor_name}}
                                    </h5>
                                    <h6>
                                        {{labor.labor_position}}
                                    </h6>
<!--                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>-->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
<!--                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>GHAT</p>
                            <span>{{labor.ghat_name}}</span><br/>
                            <p>Thana</p>
                            <span>{{labor.ghat_thana}}</span>
                            <p>District</p>
                            <span>{{labor.ghat_district}}</span><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.labor_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.labor_contact}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Position</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.labor_position}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Avg Daily Income</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.avg_daily_income}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>NID</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.nid_number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.birth_date}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Home Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.labor_address}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Education Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.education_level}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Family Members</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.family_members}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Blood Group</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.blood_group}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Avg Family Income</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.avg_family_income_m}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Mobile Money Account</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.mobile_money_account}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Mobile Type</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.mobile_type}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Added Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{labor.added_date}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}