{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-link" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" id="logo" alt="logo"  width="100" height="40">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        {% for group in user.groups.all %}
          {% if group.name == 'admin' or group.name == 'manager' or group.name == 'viewer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'associations' %}">Association</a>
            </li>
          {% endif %}
        {% endfor %}

        {% for group in user.groups.all %}
          {% if group.name == 'admin' or group.name == 'manager' or group.name == 'jahaji' or group.name == 'viewer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'companies' %}">Company</a>
            </li>
          {% endif %}
        {% endfor %}

        {% for group in user.groups.all %}
          {% if group.name == 'admin' or group.name == 'manager' or group.name == 'jahaji' or group.name == 'viewer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ghats' %}">Ghat</a>
            </li>
          {% endif %}
        {% endfor %}

        {% for group in user.groups.all %}
          {% if group.name == 'admin' or group.name == 'manager' or group.name == 'ghat' or group.name == 'viewer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ghat_labors' %}">Ghat Labor</a>
            </li>
          {% endif %}
        {% endfor %}

        {% for group in user.groups.all %}
          {% if group.name == 'admin' or group.name == 'manager' or group.name == 'jahaji' or group.name == 'viewer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ships' %}">Vessel</a>
            </li>
          {% endif %}
        {% endfor %}

        {% for group in user.groups.all %}
          {% if group.name == 'admin' or group.name == 'manager' or group.name == 'vessel' or group.name == 'viewer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'seafarers' %}">Vessel Staff</a>
            </li>
          {% endif %}
        {% endfor %}

      </ul>

      <ul class="navbar-nav navbar-right">
      {% for group in user.groups.all %}
        {% if group.name == 'admin' or group.name == 'manager' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'admin:index' %}">Administrator</a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username|upper}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </div>

</nav>