{% extends 'crewdatabd/main.html' %}
{% load static %}

{% block content %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static '/images/profile.jpg' %}" alt="staff-picture"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{seafarer.full_name}}
                                    </h5>
                                    <h6>
                                        {{seafarer.position}}
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
<!--                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>SHIP</p>
                            <span>{{seafarer.ship}}</span><br/>
                            <p>Email</p>
                            <span>{{seafarer.email_address}}</span>
                            <p>Education</p>
                            <span>{{seafarer.educational_qualification}}</span><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.full_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.phone_number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Position</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.position}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Salary</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.salary}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>NID</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.nid_number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.birth_date}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Home Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.home_address}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Marital Status</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.marital_status}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Family Members</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.family_members}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Blood Group</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.blood_group}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Insurance Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.insurance_number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Added Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{seafarer.added_date}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Bio</label><br/>
                                        <p>Detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}