{% extends 'crewdatabd/main.html' %}

{% block content %}

        <div class="card text-black mb-3">
            <h5 class="card-header text-center">EXTERNAL STAKEHOLDER
            {% for group in user.groups.all %}
              {% if group.name == 'admin' or group.name == 'manager' or group.name == 'jahaji' %}
                <a href="{% url 'create_stakeholder' %}" class="btn btn-warning">
                    <i class="fas fa-plus"></i>
                </a>
              {% endif %}
            {% endfor %}
            </h5>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}
                <div align="center" style="overflow:auto">
                    <table id="company" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Organization</th>
                                <th scope="col">Position</th>
                                <th scope="col">Sector</th>
                                <th scope="col">Contact No 1</th>
                                <th scope="col">Note</th>
                                <th scope="col">Updated Date</th>
                                {% for group in user.groups.all %}
                                  {% if group.name == 'admin' or group.name == 'manager' or group.name == 'jahaji' %}
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for stakeholder in stakeholders %}
                            <tr>
                                <td>
                                    <a href="{% url 'read_stakeholder' stakeholder.id %}" type="button" class="update-book btn btn-sm btn-info">
                                      {{ stakeholder.id }}
                                    </a>
                                </td>
                                <td>{{ stakeholder.full_name }}</td>
                                <td>{{ stakeholder.org_name }}</td>
                                <td>{{ stakeholder.position }}</td>
                                <td>{{ stakeholder.sector }}</td>
                                <td>{{ stakeholder.contact_1 }}</td>
                                <td>{{ stakeholder.note }}</td>
                                <td>{{ stakeholder.added_date }}</td>
                                {% for group in user.groups.all %}
                                  {% if group.name == 'admin' or group.name == 'manager' or group.name == 'jahaji' %}
                                <td class="text-center">
                                    <a href="{% url 'update_stakeholder' stakeholder.id %}" type="button" class="update-book btn btn-sm btn-primary">
                                      <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'delete_stakeholder' stakeholder.id %}" type="button" class="update-book btn btn-sm btn-danger">
                                      <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


{% endblock %}
